<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'shared/category_bar', categories: categories %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'shared/row_filter' %>
        <div class="row">
          <% products.each do |product| %>
            <%= link_to potepan_product_path(product.id) do %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= image_tag(product.gallery.images.first.attachment(:large)) %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer_light_section' %>