<%= provide(:title, 'Shop') %>
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>shop</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to 'Home', potepan_path %></li>
          <li class="active">Shop</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<%= render 'categories', categories: @categories, products: @products %>