<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= product.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to 'Home', potepan_path %></li>
          <li><%= link_to 'Shop', potepan_categories_path %></li>
          <% if crumb_name == 'products' %>
            <li><%= link_to product.taxons.first.name, potepan_category_path(product.taxons.first.id) %></li>
          <% end %>
          <li class="active"><%= product.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>