<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>
<% related_products.each do |related_product| %>
  <%= link_to potepan_product_path(related_product.id) do %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <%= image_tag related_product.gallery.images.first.attachment(:large) %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= related_product.name %></h5>
          <h3><%= related_product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
<% end %>